**MongoDB Atlas Cluster** is a **NoSQL Database-as-a-Service offering** in the public cloud (available in Microsoft Azure, Google Cloud Platform, Amazon Web Services). This is a managed MongoDB service, and with just a few clicks, we can set up a working MongoDB cluster, accessible from our favorite web browser.

 - ### A **MongoDB cluster** is nothing but several MongoDB servers working together.

 - ### There are two different distributed configurations of MongoDB. The first is a **“replica set”**, *where several servers carry the exact same data, to protect against failure*. 
 - ### The second is a **“sharded cluster”**, *where several servers each carry only a fragment of the whole data, to achieve higher performance and carry larger data sets*.

**Note**: 
 - Historically, the word “cluster” was only used for sharded clusters, but more recently, the word cluster has come to mean both replica sets and sharded clusters. This is especially true for MongoDB Atlas, their company’s database-as-a-service offering. 
 - In Atlas, everything is called a cluster, whether it’s only a single replica set, or a sharded cluster.

In [1]:
!python -m pip install pymongo

Requirement already satisfied: pymongo in c:\users\suryansh grover\anaconda3\lib\site-packages (4.1.1)

In [1]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\users\suryansh grover\anaconda3\lib\site-packages (4.1.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\suryansh grover\anaconda3\lib\site-packages (from pymongo[srv]) (2.2.1)

### Step 1: Establishing a Connection.

In [6]:
import pymongo

#Establish a connection with mongoDB.
client_cloud = pymongo.MongoClient("mongodb+srv://suryanshyaknow:myfirstcluster@myfirstcluster.usxdq.mongodb.net/?retryWrites=true&w=majority")

db = client_cloud.test

In [79]:
client_cloud

MongoClient(host=['myfirstcluster-shard-00-01.usxdq.mongodb.net:27017', 'myfirstcluster-shard-00-02.usxdq.mongodb.net:27017', 'myfirstcluster-shard-00-00.usxdq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-x5qfua-shard-0', tls=True)

In [80]:
db

Database(MongoClient(host=['myfirstcluster-shard-00-01.usxdq.mongodb.net:27017', 'myfirstcluster-shard-00-02.usxdq.mongodb.net:27017', 'myfirstcluster-shard-00-00.usxdq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-x5qfua-shard-0', tls=True), 'test')

In [10]:
#Creating a DB
db1 = client_cloud["my_first_mongoDB1"]
db1

Database(MongoClient(host=['myfirstcluster-shard-00-01.usxdq.mongodb.net:27017', 'myfirstcluster-shard-00-02.usxdq.mongodb.net:27017', 'myfirstcluster-shard-00-00.usxdq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-x5qfua-shard-0', tls=True), 'my_first_mongoDB1')

### Note : Unlike MySQL, despite creating a DB here, we won't be able to find it in our cloud unless and until we insert some data into it.

In [9]:
client_cloud.list_database_names()

['admin', 'local']

### Step 2: After creating a database, we'll have to create a COLLECTION inside it.

In [12]:
collection = db1["collection1"]
collection

Collection(Database(MongoClient(host=['myfirstcluster-shard-00-01.usxdq.mongodb.net:27017', 'myfirstcluster-shard-00-02.usxdq.mongodb.net:27017', 'myfirstcluster-shard-00-00.usxdq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-x5qfua-shard-0', tls=True), 'my_first_mongoDB1'), 'collection1')

### Step 3: Creating Records for inserting data.

In [16]:
record = {'Company': 'iNeuron', 'Field': 'Data Science, AI', 'database': 'MongoDB'}
collection.insert_one(record)

In [15]:
for i in range(4):
    record = {'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'MySQl, SQLlite, MongoDB, Cassandra', \
              'Courses offered': 'Deep Learning for Computer Vision'}
    collection.insert_one(record)

In [21]:
rcd = {'Databases used': 'MySQl, SQLlite, MongoDB, Cassandra', 
       'Courses offered': 'Deep Learning for Computer Vision',
      'Faculties': ["Sudhanshu Kumar", "Krish Naik", {"Mentor1": "M1", "Mentor2": "M2"}]}
collection.insert_one(rcd)

In [95]:
'''
It's a copied doc(kinda cell) from the collection.
'''
{"_id":{"$oid":"629624a6c47eb7df93d76aa8"},"Company":"iNeuron","Field":"Data Science, AI","Databases used":"Cassandra","Courses offered":"Deep Learning for Computer Vision"}

{'_id': {'$oid': '629624a6c47eb7df93d76aa8'},
 'Company': 'iNeuron',
 'Field': 'Data Science, AI',
 'Databases used': 'Cassandra',
 'Courses offered': 'Deep Learning for Computer Vision'}

### Step 4: Inserting multiple Records.

**Just bind all the dictionaries records in a list.**

In [37]:
#
rcd = [{'Company': 'iNeuron', 'Field': 'Data Science, AI', 'database': 'MongoDB'},
       
      {'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'MySQl, SQLlite, MongoDB, Cassandra',
        'Courses offered': 'Deep Learning for Computer Vision'},
       
      {"Company":"iNeuron","Field":"Data Science, AI","Databases used":"Cassandra",
       "Courses offered":"Deep Learning for Computer Vision"},
       
      {"Woah!":"iNeuron", "Nah!":"Data Science, AI", "Woah1!":"Cassandra", 
       "Damn!":"Deep Learning for Computer Vision"}]

collection.insert_many(rcd)

In [40]:
'''
Inserting multiple records in the form of tuples.
'''
rcd = ({'Company': 'iNeuron', 'Field': 'Data Science, AI', 'database': 'MongoDB'},
       
      {'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'MySQl, SQLlite, MongoDB, Cassandra',
        'Courses offered': 'Deep Learning for Computer Vision'},
       
      {"Company":"iNeuron","Field":"Data Science, AI","Databases used":"Cassandra",
       "Courses offered":"Deep Learning for Computer Vision"},
       
      {"Woah!":"iNeuron", "Nah!":"Data Science, AI", "Woah1!":"Cassandra", 
       "Damn!":"Deep Learning for Computer Vision"})

rec = collection.insert_many(rcd)

### printing out the unique IDs of records that we have inserted.

In [1]:
for j in enumerate(rec.inserted_ids):
    print(f"{}. {j}")

SyntaxError: f-string: empty expression not allowed (Temp/ipykernel_4808/3207318267.py, line 2)

## Note: For the record, we can even create our own ids of the records we desire to insert, just by adding a key "_id" in the record dictionary.

In [103]:
col2 = db1["Collection2"]

rcd = ({"_id": 11, 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'database': 'MongoDB'},
{"_id": 22, 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'MySQl, SQLlite, MongoDB, Cassandra',
       'Courses offered': 'Deep Learning for Computer Vision'},
{"_id": 33, "Company":"iNeuron","Field":"Data Science, AI","Databases used":"Cassandra",
       "Courses offered":"Deep Learning for Computer Vision"},
{"_id": 44, "Woah!":"iNeuron", "Nah!":"Data Science, AI", "Woah1!":"Cassandra", 
       "Damn!":"Deep Learning for Computer Vision"})
        
col2.insert_many(rcd)

In [55]:
try:
    rec = col2.insert_many(rcd)
    for i,j in enumerate(rec.inserted_ids):
        print(f"{i}. {j}")

except Exception as e:
    print(e)

batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 1}, 'errmsg': 'E11000 duplicate key error collection: my_first_mongoDB1.Collection2 index: _id_ dup key: { _id: 1 }', 'op': {'_id': 1, 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'database': 'MongoDB'}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [101]:
collection.find_one(), col2.find_one(), col2.find()

({'_id': ObjectId('629623c4c47eb7df93d76aa5'),
  'Field': 'Data Science, AI',
  'database': 'MongoDB',
  'Company': 'iNeuron'},
 '\n',
 {'_id': 2,
  'Company': 'iNeuron',
  'Field': 'Data Science, AI',
  'Databases used': 'MySQl, SQLlite, MongoDB, Cassandra',
  'Courses offered': 'Deep Learning for Computer Vision'},
 <pymongo.cursor.Cursor at 0x202152cd040>)

In [64]:
for i in col2.find():
    print(i)
    
print("-------------")

for i in collection.find():
    print(i)

{'_id': 1, 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'database': 'MongoDB'}
{'_id': 2, 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'MySQl, SQLlite, MongoDB, Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': 3, 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': 4, 'Woah!': 'iNeuron', 'Nah!': 'Data Science, AI', 'Woah1!': 'Cassandra', 'Damn!': 'Deep Learning for Computer Vision'}
-------------
{'_id': ObjectId('629623c4c47eb7df93d76aa5'), 'Field': 'Data Science, AI', 'database': 'MongoDB', 'Company': 'iNeuron'}
{'_id': ObjectId('629624a6c47eb7df93d76aa6'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'databases used': 'MySQl, SQLlite, MongoDB, Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('629624a6c47eb7df93d76aa7'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'databases used': 'MySQl, SQLlite, MongoDB, Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('629624a6c47eb7df93d76aa8'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'databases used': 'MySQl, SQLlite, MongoDB, Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('629624a7c47eb7df93d76aa9'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'databases used': 'MySQl, SQLlite, MongoDB, Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('62962501c47eb7df93d76aaa'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'database': 'MongoDB'}
{'_id': ObjectId('629625fdc47eb7df93d76aab'), 'Databases used': 'MySQl, SQLlite, MongoDB, Cassandra', 'Courses offered': 'Deep Learning for Computer Vision', 'Faculties': ['Sudhanshu Kumar', 'Krish Naik', {'Mentor1': 'M1', 'Mentor2': 'M2'}]}
{'_id': ObjectId('62962c11c47eb7df93d76aac'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'database': 'MongoDB'}
{'_id': ObjectId('62962c11c47eb7df93d76aad'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'MySQl, SQLlite, MongoDB, Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('62962c11c47eb7df93d76aae'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('62962c11c47eb7df93d76aaf'), 'Woah!': 'Cassandra', 'Nah!': 'Data Science, AI', 'Damn!': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('62962c65c47eb7df93d76ab0'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'database': 'MongoDB'}
{'_id': ObjectId('62962c65c47eb7df93d76ab1'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'MySQl, SQLlite, MongoDB, Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('62962c65c47eb7df93d76ab2'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('62962c65c47eb7df93d76ab3'), 'Woah!': 'iNeuron', 'Nah!': 'Data Science, AI', 'Woah1!': 'Cassandra', 'Damn!': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('62962dfec47eb7df93d76ab4'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'database': 'MongoDB'}
{'_id': ObjectId('62962dfec47eb7df93d76ab5'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'MySQl, SQLlite, MongoDB, Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('62962dfec47eb7df93d76ab6'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('62962dfec47eb7df93d76ab7'), 'Woah!': 'iNeuron', 'Nah!': 'Data Science, AI', 'Woah1!': 'Cassandra', 'Damn!': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('62962f57c47eb7df93d76ab8'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'database': 'MongoDB'}
{'_id': ObjectId('62962f57c47eb7df93d76ab9'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'MySQl, SQLlite, MongoDB, Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('62962f57c47eb7df93d76aba'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('62962f57c47eb7df93d76abb'), 'Woah!': 'iNeuron', 'Nah!': 'Data Science, AI', 'Woah1!': 'Cassandra', 'Damn!': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('62962f5dc47eb7df93d76abc'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'database': 'MongoDB'}
{'_id': ObjectId('62962f5dc47eb7df93d76abd'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'MySQl, SQLlite, MongoDB, Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('62962f5dc47eb7df93d76abe'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('62962f5dc47eb7df93d76abf'), 'Woah!': 'iNeuron', 'Nah!': 'Data Science, AI', 'Woah1!': 'Cassandra', 'Damn!': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('62962faec47eb7df93d76ac0'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'database': 'MongoDB'}
{'_id': ObjectId('62962faec47eb7df93d76ac1'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'MySQl, SQLlite, MongoDB, Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('62962faec47eb7df93d76ac2'), 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': ObjectId('62962faec47eb7df93d76ac3'), 'Woah!': 'iNeuron', 'Nah!': 'Data Science, AI', 'Woah1!': 'Cassandra', 'Damn!': 'Deep Learning for Computer Vision'}

In [96]:
col2.find_one_and_delete({'Company': 'iNeuron'})

{'_id': 1,
 'Company': 'iNeuron',
 'Field': 'Data Science, AI',
 'database': 'MongoDB'}

In [68]:
for i in collection.find({"Company": "iNeuron"}):
    print(i['Field'])

Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI
Data Science, AI

In [72]:
for i in col2.find({'_id': {'$gt': 1}}): #instances where _id is greater than 1.
    print(i)

{'_id': 2, 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'MySQl, SQLlite, MongoDB, Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': 3, 'Company': 'iNeuron', 'Field': 'Data Science, AI', 'Databases used': 'Cassandra', 'Courses offered': 'Deep Learning for Computer Vision'}
{'_id': 4, 'Woah!': 'iNeuron', 'Nah!': 'Data Science, AI', 'Woah1!': 'Cassandra', 'Damn!': 'Deep Learning for Computer Vision'}

## Deleting a Record: 
### for deleting a record, we just have to specify one key value pair of that record and call the .delete_one or .delete_many method of the pymongo module.

In [74]:
query_to_delete = {'Woah!': 'iNeuron'}
col2.delete_one(query_to_delete)

## Updating a Record:

In [107]:
col2.update_one({'_id': 44}, {"$set": {"Woah1!": "Cassandra, MongoDB"}})

try:
    col2.update_one({'_id': 44}, {"$inc": {"Woah1!": 5}})
except Exception as e:
    print("Since we can't increment a string by an integer, right?")
    print(e)

Since we can't increment a string by an integer, right?
Cannot apply $inc to a value of non-numeric type. {_id: 44} has the field 'Woah1!' of non-numeric type string, full error: {'index': 0, 'code': 14, 'errmsg': "Cannot apply $inc to a value of non-numeric type. {_id: 44} has the field 'Woah1!' of non-numeric type string"}

## .bulk_write()

In [108]:
#defining the request
req =[
    DeleteMany({}),  # Remove all documents from the previous example.
    InsertOne({'_id': 1}),
    InsertOne({'_id': 2}),
    InsertOne({'_id': 3}),
    UpdateOne({'_id': 1}, {'$set': {'foo': 'bar'}}),
    UpdateOne({'_id': 4}, {'$inc': {'j': 1}}, upsert=True),
    ReplaceOne({'j': 1}, {'j': 2})]

NameError: name 'DeleteMany' is not defined

In [109]:
try:
    col2.bulk_write(req)
except Exception as e:
    print(e)

name 'DeleteMany' is not defined